<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 neta2" style="position:relative;">
      <p class="name"><%= @register.name %>さん</p>
      <p class="neta"><%= @register.todo %></p>
      <div style="position:absolute;bottom:0">
        <%= link_to '削除', @register, method: :delete %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 limit rel">
      <div class="icon">
        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
      </div>
      <p><%= @register.time.strftime("%H:%M") %></p>
    </div>
    <div class="col-xs-6 call">
      <button type="button" class="btn btn-warning btn-lg btn-block"
              onclick="location.href='<%=set_number(@register.number) %>'">
        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></button>
    </div>

  </div>
</div>
</div>
